body {
    font-family: "Playfair Display", Helvetica, Arial, sans-serif;
	font-weight: 300;
	background-color: #fafafa;

}

h1 {
  margin-top: 100px;
}

.typewriter {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}